<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <gazebo>
    <plugin name="rtt_gazebo" filename="librtt_gazebo_deployer.so">
      <component>
        <package>oro_barrett_sim</package>
        <type>oro_barrett_sim::BarrettSimManager</type>
        <name>barrett_manager</name>
      </component>
      <opsScriptFile>$(arg ops_script)</opsScriptFile>
    </plugin>
  </gazebo>
</robot>
