<launch>
  <!-- roslaunch arguments -->
  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/>

  <!-- Start Gazebo -->
  <include file="$(find rtt_gazebo_examples)/test/empty_world.launch">
    <env name="ORO_LOGLEVEL" value="debug"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="world_name" value="$(find oro_barrett_sim)/test/hand.world"/>
  </include>

  <param name="robot_description" 
    command="$(find xacro)/xacro.py '$(find oro_barrett_sim)/test/dual_wam_hand.urdf.xacro' ops_script:=$(find oro_barrett_sim)/test/dual_wam_hand.ops" />

  <!-- Load WAM URDF into gazebo -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model dual_wam_hand -param robot_description"/>

  <group ns="gazebo">
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="$(anon joint_state_publisher)">
      <rosparam param="source_list">
        ["barrett_manager_left/wam/joint_states", "barrett_manager_left/hand/joint_states", "barrett_manager_right/wam/joint_states", "barrett_manager_right/hand/joint_states"]
      </rosparam>
      <param name="rate" value="50"/>
      <remap from="robot_description" to="/robot_description"/>
    </node>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="$(anon robot_state_publisher)">
      <param name="publish_frequency" value="50"/>
    </node>
  </group>
</launch>

