<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wam">

  <!-- Gazebo RTT Plugin -->
  <gazebo>
    <plugin name="rtt_gazebo" filename="librtt_gazebo_deployer.so">
      <component>
        <package>oro_barrett_sim</package>
        <type>oro_barrett_sim::BarrettSimManager</type>
        <name>barrett_manager</name>
      </component>
      <opsScriptFile>$(find oro_barrett_sim)/test/hand.ops</opsScriptFile>
    </plugin>
  </gazebo>

  <!-- Includea all the WAM stuff -->
  <xacro:include filename="$(find barrett_model)/models/wam_top.urdf.xacro"/>

  <!-- Root link is in the world frame-->
  <link name="world"/>

  <!-- Create a 7-DOF WAM arm -->
  <xacro:bhand prefix="hand" parent_link="world" xyz="0.0 0.0 0.5" rpy="0 0 0" />

</robot>
