<library path="src">
  <class name="BarrettDashboard" type="rqt_barrett.barrett_dashboard.BarrettDashboard" base_class_type="rqt_gui_py::Plugin">
    <description>
      An RQT plugin for controlling a Barrett WAM and/or BHand
    </description>
    <qtgui>
      <group>
        <label>Barrett</label>
      </group>
      <label>Barrett Dashboard</label>
      <icon type="theme">system-help</icon>
      <statustip>Use to control a Barrett WAM or BHand.</statustip>
    </qtgui>
  </class>
</library>

