<launch>

  <arg name="BUS" default="0"/>
  <arg name="4DOF" default="false"/>
  <arg name="7DOF" default="false"/>
  <arg name="HAND" default="false"/>

  <include file="$(find rtt_ros)/launch/deployer.launch">
    <arg name="NAME" value="barrett"/>
    <arg name="DEPLOYER_ARGS" value="-s $(find oro_barrett_hw)/test/barrett.ops"/>
    <arg name="LOG_LEVEL" value="info"/>
    <arg name="DEBUG" value="false"/>
  </include>

  <include ns="barrett/barrett_manager" file="$(find oro_barrett_hw)/test/barrett_manager_config.launch">
    <arg name="BUS" value="$(arg BUS)"/>
    <arg name="4DOF" value="$(arg 4DOF)"/>
    <arg name="7DOF" value="$(arg 7DOF)"/>
    <arg name="HAND" value="$(arg HAND)"/>
  </include>

</launch>

