<launch>
  <arg name="BUS" default="0"/>
  <arg name="4DOF" default="false"/>
  <arg name="7DOF" default="false"/>
  <arg name="HAND" default="false"/>
  <arg name="BALL" default="false"/>

  <arg if="$(arg 4DOF)" name="DOF" value="4"/>
  <arg if="$(arg 7DOF)" name="DOF" value="7"/>

  <param 
    name="robot_description" 
    command="$(find xacro)/xacro.py '$(find barrett_model)/robots/barrett.urdf.xacro' prefix:=wam_$(arg BUS) 4dof:=$(arg 4DOF) 7dof:=$(arg 7DOF) hand:=$(arg HAND) ball:=$(arg BALL)" />

  <rosparam subst_value="true">
    bus_id: $(arg BUS)
    wam_dof: $(arg DOF)
    auto_configure_wam: true
    auto_configure_hand: $(arg HAND)
    wam_urdf_prefix: wam_$(arg BUS)
    hand_urdf_prefix: wam_$(arg BUS)/bhand
  </rosparam>

  <group ns="wam">
    <param name="velocity_smoothing_factor" value="0.95"/>
    <rosparam if="$(arg 7DOF)" subst_value="true">
      home_position: [0.0, -1.5708, 0.0, 3.1415, 0.0, -1.5708, 1.5708]
      home_resolver_offset: [0.42644, 0.62126, 0.96947, -1.23025,  1.81463, 0.59365, 2.4942]
    </rosparam>
    <rosparam if="$(arg 4DOF)" subst_value="true">
      home_position: [0.0, -1.5708, 0.0, 3.1415]
      home_resolver_offset: [0.42644, 0.62126, 0.96947, -1.23025]
    </rosparam>
  </group>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="wam_state_publisher">
    <param name="publish_frequency" value="50"/>
    <remap from="joint_states" to="wam/joint_states"/>
  </node>
</launch>
