<launch>

  <arg name="DOF" default="7"/>

  <include file="$(find rtt_ros)/launch/deployer.launch">
    <arg name="NAME" value="barrett"/>
    <arg name="DEPLOYER_ARGS" value="-s $(find oro_barrett_hw)/test/wam$(arg DOF)_hand_test.ops"/>
    <arg name="LOG_LEVEL" value="debug"/>
    <arg name="DEBUG" value="false"/>
  </include>

  <group ns="barrett/barrett_manager">
    <param name="bus_id" value="0"/>
  </group>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find barrett_model)/robots/wam_$(arg DOF)dof_wam_bhand.urdf.xacro'" />

</launch>

